WikipediaGraph/.vscode/
WikipediaGraph/vcpkg/
WikipediaGraph/database/
WikipediaGraph/build/
WikipediaGraph/imnodes/
WikipediaGraph/CMakeFiles/
WikipediaGraph/CMakeCache.txt

WikipediaParser/.vscode/
WikipediaParser/vcpkg/
WikipediaParser/database/
WikipediaParser/build/
WikipediaParser/CMakeFiles/
WikipediaParser/CMakeCache.txt

*.sln
*.vcxproj*
*.exe
*.obj
*.log
*.pdb
*.suo
*.user
*.idb
*.sdf
*.tlog
*.lastbuildstate
